/*
if class then .
if id then #
*/
h1 {
    color:green
}

.fruit {
    color: red;
    background-color:yellow;
}

.vegetable {
    color:yellow;
    background-color:red;
}
#one {
    color:purple
}
p
{
    color: orange;
}